* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

#header {
  opacity: 0.8;
  background-color: black;
  width: 100%;
  z-index: 500;
  position: fixed;
}

#header .remove-bar {
  display: none;
}

#header img {
  cursor: pointer;
  width: 100%;
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header ul li {
  color: white;
  list-style: none;
  padding: 10px;
}

#header ul li a {
  text-decoration: none;
  color: white;
}

#header ul li a:hover {
  color: red;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#header .ic i {
  color: white;
  cursor: pointer;
}

#header .ic i:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.middle-center {
  padding: 12rem 0;
  position: relative;
  z-index: 15;
}

#top {
  position: relative;
  background-image: url(../image/bg1.jpg);
}

#top::after {
  content: '';
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: black;
  opacity: .7;
}

#top h1 {
  color: #fff;
}

#top a {
  color: #b4afaf;
}

#top a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#sort {
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
}

#sort .cat {
  padding-top: 80px;
}

#sort .list {
  cursor: pointer;
  padding-top: 50px;
}

#sort .list .sort {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid;
}

#sort .list .sort:hover .btn-addcart {
  opacity: 1;
  visibility: visible;
}

#sort .list .sort .btn-addcart {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  bottom: -20px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#sort .list a {
  color: black;
  text-align: center;
}

#sort .list p {
  text-align: center;
  color: red;
}

#sort .inp-search {
  padding-top: 80px;
}

#sort .inp-search input {
  padding: 50px;
  border: none;
  height: 35px;
  border-bottom: 1px solid #3e3e3e;
  color: #fff;
  background-color: #3e3e3e;
  border-radius: 5px;
}

#sort .inp-cate {
  padding-top: 60px;
}

#sort .inp-cate .categories {
  padding: 40px;
  border: none;
  border-bottom: 1px solid #3e3e3e;
  color: #fff;
  background-color: #3e3e3e;
  border-radius: 5px;
}

#sort .inp-cate .categories h2 {
  font-size: 1.5em;
}

#sort .inp-cate .categories h2 img {
  padding-left: 15px;
  width: 15%;
}

#sort .inp-cate .categories ul li {
  list-style: none;
  padding-top: 10px;
}

#sort .inp-cate .categories ul li a {
  color: #fff;
}

#sort .inp-cate .categories ul li a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer {
  background-color: #1d1c1c;
}

#footer h2 {
  padding: 120px 0px 0px 20px;
  color: white;
  font-size: 30px;
}

#footer h2 img {
  width: 15%;
  padding-left: 18px;
}

#footer .about {
  padding-top: 55px;
  padding-left: 18px;
}

#footer .about p {
  padding-top: 10px;
  color: #bbbbbb;
}

#footer .about p a {
  color: white;
  text-decoration: none;
}

#footer .about p a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .icon {
  padding-top: 20px;
  padding-left: 18px;
}

#footer .icon i {
  font-size: 18px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid;
  color: #fff;
  background-color: #302f2f;
  border-style: none;
}

#footer .icon i:hover {
  background-color: #ff3837;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .latest {
  padding-top: 55px;
  padding-left: 18px;
}

#footer .latest h4 {
  color: white;
  padding-bottom: 25px;
}

#footer .latest h4 img {
  width: 15%;
  padding-left: 18px;
}

#footer .latest span {
  color: white;
  cursor: pointer;
  font-size: 15px;
}

#footer .latest span:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .latest p {
  cursor: pointer;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 25px;
}

#footer .latest p a {
  color: #bbbbbb;
}

#footer .latest p a:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer .quest {
  padding-top: 55px;
  padding-left: 18px;
}

#footer .quest input {
  background: none;
  border: none;
  height: 35px;
  width: 70%;
  border-bottom: 1px solid #3e3e3e;
  color: #979797;
}

#footer .quest .i1 {
  height: 60px;
}

#footer .quest .i2 {
  height: 60px;
}

#footer .quest .i3 {
  resize: none;
  padding: 5px 0;
}

#footer .quest button {
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  padding-bottom: 0.5em;
  padding: 0.5em 2.5em;
  background-color: #ff3837;
  border-style: none;
}

#footer .quest button:hover {
  background-color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 20px 8px #7a0202;
          box-shadow: 0 0 20px 8px #7a0202;
}

#end {
  width: 100%;
  background-color: black;
}

#end p {
  color: #fff;
  padding-top: 30px;
}

#end ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

#end ul li {
  list-style: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

#end ul li:hover {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  #header {
    opacity: 1;
    padding: 25px 0;
  }
  #header .remove-bar {
    display: inherit;
  }
  #header .menu {
    position: fixed;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 99999;
    left: 0;
    height: 100vh;
    top: 13%;
    background: #fff;
    width: 80%;
  }
  #header .menu.menuActive {
    width: 0;
    visibility: hidden;
    opacity: 0;
  }
  #header .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header .menu ul li {
    border-bottom: 1px solid #777676;
  }
  #header .menu ul li a {
    color: #181717;
  }
  #footer {
    padding-bottom: 25px;
  }
  #end p {
    text-align: center;
  }
  #top h1 {
    font-size: 40px;
  }
  #sort .list .pads {
    text-align: center;
  }
  #sort .list .pads p {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */